.wrap{
    padding: 50px;
    display: flex;
}
.info{
    margin-left: 30px;
}
.dopInfo{
    padding: 0 50px;

}
.link{
border-top: 1.5px solid #747474;
border-bottom: 1.5px solid #747474;
}
.btn{
display: inline-block;
    align-items: center;
    gap: 4px;
    padding: 8px 0;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}